
/* Home  */

body{
    line-height: normal;
    padding-left: 10px;
    min-height: 100;
}

*{
    font-family:'Work Sans', sans-serif;
}


h1{
    font-size: 20px;
}

.greeting{
    font-size: 35px;
    margin-bottom: 100px;
    padding-left: 155px;
    padding-bottom: 100px;
    font-family: 'Work Sans', sans-serif;

    /* width: 100%; */
    position: relative;
    top: 100px;
    margin: 0 auto;
    /* border-right: 2px solid; */
    /* text-align: left;
    white-space:nowrap;  */
}


.intro{
    font-size: 25px;
    width: 30em;
    margin: 60px 145px 280px;
    padding-left: 10px;
    font-family: 'Work Sans', sans-serif;

}

.navigate{
    text-align: right;
    height: 40px;
    width: 85%;
    margin: 0 auto;

}

.navigate a{
    text-decoration: none;
    line-height: 40px;
    padding: 10px;
    margin: 0px 5px;
    color: #546e7a;
}

.navigate a:hover {
    transition: 0.5s;
    border-radius: 10px;
    background-color: #dee1e3;
    color: #003f7e;
}




/* ABOUT */

.styled_OuterWrapper-sc-10tloyd-1-kWmmhb{
    background-color: rgb(34, 41, 47);
    border-bottom-width: 1px;
    border-color:rgb(34, 41, 47); 
}

.styledTerminalHeader{
    padding: 10px 0px 10px ;
    display: flex;
    width: 55%;
    /* -moz-box-align: center; */
    align-items: center;
    height: 1.5rem;
    border-radius: 0.125rem;
    border-bottom-width: 1px red;
    background-color: rgb(218, 225, 231);
    margin-left: auto;
    margin-right: auto;
    

}


.styled_CloseButton-sc-10t-loyd-2-gBmArl{
    display: flex;
    margin-left: 0.5rem;
    -moz-box-align: center;
    align-items: center;
    text-align: center;
    border-color: rgb(220, 27, 27);
    background-color: rgb(206, 21, 21);
    border-radius: 9999px;
    width: 0.75rem;
    height: 0.75rem;
}

.styled_MinButton-sc-10t-loyd-5-fKHttt{
    margin-left: 0.5rem;
    border-color: rgb(250, 250, 135);
    background-color: yellow;

    border-radius: 9999px;
    width: 0.75rem;
    height: 0.75rem;
}

.styled_MaxButton-sc-10t-loyd-6-iDySRM{
    margin-left: 0.5rem;
    border-color: rgb(55, 121, 55);
    background-color: rgb(56, 152, 56);

    border-radius: 9999px;
    width: 0.75rem;
    height: 0.75rem;

}

.styled_TerminalTitle{
    margin-left: auto;
    margin-right:auto;

}
.styled_TerminalContent-sc-10tloyd-8-jscHkR{
    background-color: #071b2f;
    padding: 10px 0px 10px ;
    width: 55%;
    height: 32.5rem;
    border-radius: 0.125rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 200px;
    color: white;
}

 .terminal_message{
    margin-left: 10px;
    padding: 0;
}

.terminal_message_facts{
    margin: 0;
    margin-left: 10px;
}


/* Competencies */
.technical_skills{
    margin: 0px 200px 300px;
    padding-left: 10px;
}

ol, ul{
    line-height:50px;
}


/* Project header */

.project_title, .project_subtitle{
    text-align: center;
    color: #546e7a;
    font-family: 'Work Sans', sans-serif;
}


.tag{
    padding: 4px 8px;
    border: 1px solid white;

    font-size: 12px;
    font-weight: 600px;
    color: #788697;
}

.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:30px;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 200px;

}

.grid > article{
    background: white;
    border: none;
    box-shadow: 2px 2px 6px 0px #e0e0e0;
    border-radius: 20px;
    text-align: center;
    width: 250px;
    transition: transform .3s;
}

.grid > article:hover{
    transform: translateY(5px);
    box-shadow: 2px 2px 26px 0px #cfd8dc;

}

.grid > article img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.image2{
    height: 140px;
}

.text{
    padding: 0 20px 20px;
    color: #546e7a;
}

button, .git {
    border: none;
    margin:0 auto;
    border-radius: 210px;
    padding: 8px 20px;
    color: white;
    background-color: rgb(182, 213, 240);
    text-align: center;
    font-size: 18px;
} 

button:focus, button:hover{
    background-color:#dee1e3;
    color:#003f7e;
}

/* FOOTER */
.col-4{
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    line-height: 38px;
}

.container{
    margin: 60px;
    padding-left: 10px;

}


.scroll_to_top_btn{
    font-size: 2.5rem;
    cursor: pointer;
    bottom: 20px;
    right: 40px;
    position: fixed;
   
    transform: scale(0.9);
    transition: 0.3s ease-in-out transfrom;
}

.scroll_to_top_btn:hover{
    color: #546e7a;
    transform: scale(1)
}

